<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--  <meta name="viewport" content="width=device-width,initial-scale=1.0">  AMA YPARXEI PROVLHMA ME REWSPONSIVE FEUGEI TO KATW -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <!--MPOREI NA MHN XREIZONTYAI
  <script src="/path/to/vue.js"></script>
  <script src="/path/to/vue-router.js"></script>
   EAWS EDW -->
  <!--VGAZEI ERROR  <script src="vue-youtube/dist/vue-youtube.js"></script> -->
</body>


</html>