<template>
<div>
  <detailItem :band="bandDetails" />
  <seeMoreItems :bands="bandsDetails" :id="id" />
</div>
</template>

<script>
import axios from 'axios';
import detailItem from '.././components/detailItem.vue'
import seeMoreItems from '.././components/seeMoreItems.vue'

export default {
  name: "detailpage",
  components: {
    detailItem,
    seeMoreItems
  },
  computed: {
    id() {
      return this.$route.params.id
    }
  },
  data() {
    return {
      bandDetails: null,
      bandsDetails: []
    }
  },
  mounted() {
    this.getBands()
  },

  beforeRouteUpdate(from, to, next) {
    this.getBands()
    next()
  },
  methods: {
    getBands() {
      axios.get('https://christoferfanaras.com/hiphop_bands/bands')
        .then(res => {
          console.log(res.data)
          this.bandsDetails = res.data
        })
        .catch(err => console.log(err));
      axios.get('https://christoferfanaras.com/hiphop_bands/bands')
        .then(res => {
          console.log(res.data)
          this.bandDetails = res.data.find(band => band.id === Number(this.id))
        })
        .catch(err => console.log(err));
    }
  }

}
</script>

<style scoped>
div {
  margin-top: 60px;

}
</style>
