<template>
<div>
  <introImage />
  <hiphopIntro />
  <categories />
</div>
</template>

<script>
import axios from 'axios';
import introImage from '.././components/introImage';
import categories from '.././components/categories';
import hiphopIntro from '.././components/hiphopIntro';


export default {
  name: 'App',
  components: {
    introImage,
    categories,
    hiphopIntro
  },
  data() {
    return {
      bands: [{
        id: 1,
        title: "Lex11",
        photo: require('@/assets/lex.jpg'),
        description: "rama was always considered to be underdeveloped. This is partly due to the fact that the first inhabitants of Perama, in the early 1920s, were refugees from Asia Minor. The residents fought for years with unemployment and the conflicting interests around the ship repair zone — a key center for the local economy. In such a place, it is common for young talented people to be forced to give up their dreams, their studies and their career for a job in the boats. All of the above tortured the mind of young Michael Mytakidis, who lived there.Mytakidis (or B.D. Foxmoor) was keeping track of the hip hop music and its evolution since 1979. In an effort to make hip hop better known in Greece, he brought together people with common concerns. Then, having a few financial and technical resources, these people put a common goal, to build the foundation for a conscious music scene in Greece.</p><p>In June 1992, the B.D. Foxmoor (Michael Mytakidis) with Dj MCD (Dimitris Kritikos), he founded the first Greek hip hop music group, named Active Member. The people associated with this effort then created the independent record label Freesty",
        video: '<iframe width="1012" height="759" src="https://www.youtube.com/embed/2ho4-lpihc4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',
        founding_year: 1992,
        number_of_discs: 17,
        members: "B.D. Foxmoor(1992-present), Sadahzinia(2003-present), DJ MCD (1992-1996), X-Ray(1993-2002), Real-D (1993-1997), DJ Booker (2002-2006)"
      }, ],
    }
  },

  created() {
    axios.get('https://christoferfanaras.com/hiphop_bands/bands')
      .then(res => this.bands = res.data)
      .catch(err => console.log(err));
  }
}
</script>

<style scoped>

</style>
