<template>
<div class="copyrights margTop">
  <span>No Copyrights</span>

</div>
</template>

<script>
export default {
  name: 'copyrights',
  props: []
}
</script>

<style scoped>
.copyrights {
  border-top: 3px solid #5a738c;
  background: #007bff;
  font-weight: 400;
  color: #fff;
  padding: 6px 12px;
}
</style>
