<template>
<div>
  <b-container>
    <b-row>
      <b-col md="12">
        <div v-if="band">
          <h2>{{band.title}}</h2>
          <img :src="band.photo">
          <p>{{band.description}}</p>
          <p><span>Discs: </span>{{band.number_of_discs}}</p>
          <p><span>Members: </span>{{band.members}}</p>
          <p><span>Founding year: </span>{{band.founding_year}}</p>
          <youtube v-if="band && band.video" :video="band.video" />
        </div>
      </b-col>
    </b-row>
  </b-container>

</div>
</template>

<script>
import youtube from './youtube'

export default {
  name: 'detailItems',
  components: {
    youtube
  },
  props: {
    band: {
      type: Object,
      default: () => {},
    }
  },
  data() {
    return {
      videoId: 'lG0Ys-2d4MA'
    }
  },
  methods: {
    getId() {
      return this.$youtube.getIdFromUrl(this.video.url)
    },

  },
  computed: {
    player() {
      return this.$refs.youtube.player
    }
  }
}
</script>

<style scoped>
button {
  display: block;
  margin: auto;
  background: #545b62;
  color: #fff;
  font-size: 20px;
  border: 2px solid #235282;
  padding: 5px;
}

h2 {
  border-bottom: 3px solid #235282;
  text-align: center;
  margin: 20px 0px;
  display: inline-block;
}


p {
  text-align: left;
  max-width: 600px;
  margin: auto;
  margin-bottom: 5px;
}


div p:nth-of-type(1) {
  max-width: 600px;
  margin: 20px auto;
  background: #545b62;
  color: #fff;
  padding: 10px;
  text-align: left;
  border: 2px solid #0062cc;
}

div p:last-of-type {
  margin-bottom: 20px;
}

p span {
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: auto;
}
</style>
