<template>
<div class="margTop">

  <b-container>
    <b-row>
      <h1>Welcome to a brief introduction to greek hip hop</h1>
      <p>The earliest indications of the localized genre date back to 1987 the Maxi-single Deejays's with the group FF.C, though native language albums did not appear until the mid-1990s. The first hip hop album was Diamartiria (protest) in 1993 of
        Active Member along with "Σκληροί καιροί" by FF.C though many can argue that the album Modern Fears "Η Αναμέτρηση" (circa 1992) by Aris Thomas was the first hip hop influenced record in Greece. Then FF.C followed with Σημεία των καιρών, and
        TXC (now Artemis/Efthimis) with their single Terror X Crew in 1995.
      </p>
      <p>
        Gangsta rap came to Greece in 1997 with the group Zontani Nekri (Ζωντανοί Νεκροί; Living Dead). In 1999 the group Paremvoles (Παρεμβολές) released the first hardcore CD named En Opsi (Εν όψει; In consideration of). In 2000 the group Alfa Gama
        (Άλφα Γάμα [Α.Γ.]) continued with the CD named Agnostofovia (Αγνωστοφοβία; Fear of the unknown). Imiskoumbria and Goin' Through made Greek hip-hop famous in the mainstream Greek audience. Goin' Through changed their way of music from hip hop
        to a kind of R&B or Pop music. The political issues and the society also invaded to this type of music. Terror X Crew introduced a new style of rapping with their CD's "I Polis Ealo" (1997) and "Essetai Imar" (2001). These albums are
        ethnocentric and for the first time Greek nationalism is involved to the hip-hop music. For this, the then president of the Hellenic Front, Makis Voridis awards them as "they try to wake up the Greek nation".
      </p>
      <p>
        Nowadays Greek hip hop covers a broad spectrum, all the way from hardcore hip hop to urban pop, and has managed to transform from an underground musical genre to one that tops the charts in Greece. Some of the artists that top the charts are
        Taki Tsan, LEX, Midenistis, Ipohthonios, Kanon, Thitis, Phyrosun, N.O.E, Mad Clip and Joker/Two Face, Mikros Kleftis, Thodoris Cortes, Zoro&Buzz, Rationalistas, Bong Da City, Vita Pis, Kataxanas, Thanasimos, FullFace .
      </p>
    </b-row>
  </b-container>

</div>
</template>

<script>
export default {
  name: 'hiphopIntro',
  props: []
}
</script>

<style scoped>
h1 {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
}

.margTop .row {
  background: #545b62;
}

.margTop .row p {
  max-width: 90%;
  color: #fff;
  margin: auto;
}
</style>
