<template>
<div>
  <img src="..\assets\hiphop.png" alt="">
</div>
</template>

<script>
export default {
  name: 'introImage',

}
</script>

<style scoped>
img {
  position: relative;
  width: 100%;
  top: 40px;
}
</style>
