<template>
<div>
  <b-dropdown id="dropdown-1" variant="primary" text="Menu" class="lg-12">
    <b-dropdown-item>
      <router-link to="/">Home</router-link>
    </b-dropdown-item>
    <b-dropdown-item>
      <router-link to="/categories">Categories</router-link>
    </b-dropdown-item>
    <b-dropdown-item @click="goToRandomBand">
      <span>Random Band</span>
    </b-dropdown-item>

  </b-dropdown>

</div>
</template>
<script>
import axios from 'axios';

export default {
  name: "myMenu",

  data() {
    return {
      randomBand: '',
      bands: [],
      id: null
    }
  },
  methods: {

    goToRandomBand() {
      const randomBand = Math.floor(Math.random() * this.bands.length)
      this.$router.push({
        name: 'detailPage',
        params: {
          id: this.bands[randomBand].id
        }
      })
    }

  },
  created() {
    axios.get('https://christoferfanaras.com/hiphop_bands/bands')
      .then(res => this.bands = res.data)
      .catch(err => console.log(err));
  }
}
</script>

<style scoped>
#dropdown-1 {
  background-color: red;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;
  height: auto;
  border-bottom: 3px solid #5a738c;
}
</style>
