<template>
<div>
  <b-container>
    <b-row>
      <b-col md="12">
        <h2>See more bands</h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="4" v-for="band in lastThreeBands" :key="band.id">
        <h3>{{band.title}}</h3>
        <router-link :to="{ name: 'detailPage', params: { id: band.id } }"><img :src="band.photo"></router-link>

        <p>{{band.description | truncate(250)}}</p>
      </b-col>
    </b-row>
  </b-container>
</div>
</template>

<script>
export default {
  name: 'seeMoreItems',
  props: {
    bands: {
      type: Array,
      default: () => [],
    },
    id: {
      type: [Number, String],
      default: null
    }
  },
  computed: {

    lastThreeBands() {
      //

      return this.bands
        .filter(band => Number(band.id) !== Number(this.id))
        .slice(0, 3)
    }

  }
}
</script>

<style scoped>
h2 {
  display: inline-block;
  border-bottom: 3px solid #235282;
  margin-bottom: 40px;
}

img {
  display: block;
  max-width: 200px;
  margin: auto;
}
</style>
