<template>
<iframe v-if="video" width="100%" height="315" :src="`https://www.youtube.com/embed/${videoId}`" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</template>

<script>
export default {
  name: 'youtube',
  props: {
    video: {
      type: String,
      default: ''
    }
  },
  computed: {
    videoId() {
      // Solution: https://stackoverflow.com/questions/29788349/parse-youtube-video-id-from-string-with-javascript
      const reg = /https?:\/\/(?:[0-9A-Z-]+\.)?(?:youtu\.be\/|youtube(?:-nocookie)?\.com\S*[^\w\s-])([\w-]{11})(?=[^\w-]|$)(?![?=&+%\w.-]*(?:['"][^<>]*>|<\/a>))[?=&+%\w.-]*/ig;
      return this.video.replace(reg, '$1')
    }
  }
}
</script>

<style scoped>
iframe {
  max-width: 605px;
}
</style>
