<template>
<div id="app">
  <myMenu />
  <router-view />
  <copyrights />
</div>
</template>

<script>
import myMenu from './components/myMenu';
import copyrights from './components/copyrights';

export default {
  name: 'App',
  components: {
    myMenu,
    copyrights
  }
}
</script>

<style>
.margTop {
  margin-top: 75px;
}

button#dropdown-1__BV_toggle_ {
  border-radius: 0;
}

ul.dropdown-menu {
  border-top: 3px solid #235282;
}

ul.dropdown-menu.show {
  text-align: center;
  width: 100%;
  transform: translate3d(0px, 38px, 0px) !important;
  background-color: #545b62;
  margin-top: 0px;
  border-radius: 0;
}

ul.dropdown-menu.show li a {
  color: white;
}

ul.dropdown-menu.show li a:hover {
  text-decoration: none;
  cursor: pointer;
  background: transparent;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: transparent;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
</style>
